<div id="main-page"> 
  <div class="page-header"  fxLayout="row" fxFlex="100">
    <div fxLayoutAlign="start center" fxFlex="30">
        <mat-icon class="toolbar-label">home</mat-icon><button (click)="homeClick($event)" mat-button class="toolbar-label">Home</button>
        <mat-icon class="toolbar-label">person</mat-icon><button (click)="profileClick($event)" mat-button class="toolbar-label">Create</button>
    </div>
    <div fxFlex="70" fxLayoutAlign="end center">
       <button class="toolbar-label" mat-icon-button [matMenuTriggerFor]="menuIcon" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
         </button>
         <mat-menu #menuIcon="matMenu">
           <button mat-menu-item>
             <mat-icon>dialpad</mat-icon>
             <span>Redial</span>
           </button>
           <button mat-menu-item disabled>
             <mat-icon>voicemail</mat-icon>
             <span>Check voice mail</span>
           </button>
           <button mat-menu-item>
             <mat-icon>notifications_off</mat-icon>
             <span>Disable alerts</span>
           </button>
         </mat-menu>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
