#profile-page {
    .page-header{
        background-color: rgb(141, 35, 70);
        height : 100px;
        padding : 20px ;
        .toolbar-label {
         font-size: 20px;
         color: white;
        }
    }
    .profilePage-content{
        padding: 10px;
        .full-box{
            width:100%;
            font-size: 12px;
        }
    }
    .page-footer{
        position: sticky;
        bottom: 0px;
        height : 30px;
        padding : 1px ;
        box-shadow: 1px 3px 4px #131010;
        z-index: 10000 !important;
    }
    .Button-style{
        margin-top : 20px;
    }
}